[Unit]
Description=PM2 process manager for FeirAco
Documentation=https://pm2.keymetrics.io/
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
User=opc
Environment=PM2_HOME=/home/opc/.pm2
RemainAfterExit=yes
ExecStart=/usr/local/bin/node /opt/pm2/bin/pm2 resurrect
ExecReload=/usr/local/bin/node /opt/pm2/bin/pm2 reload all
ExecStop=/usr/local/bin/node /opt/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
